/*
 *
 * GENERAL RULES
 *
 */

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    margin: 0;
    color: #2e3956;
    font-family: "Lato", sans-serif;
}

img {
    max-width: 100%;
}

a {
    color: #e1464b;
    text-decoration: none;
}

a:hover, a:active {
    color: #406d94;
    text-decoration: underline;
}

h5 {
    font-size: 1.5em;
    margin: 10px 0 30px;
}

h6 {
    font-size: 1.5em;
    margin: 10px 0 0;
}

.left {
    text-align: left!important;
}

.right {
    text-align: right!important;
}

.center {
    text-align: center!important;
}

.upper {
    text-transform: uppercase;
}



/*
 * 
 * FRAMEWORK
 *
 */

.container {
    margin: 0 auto;
    padding: 0 5px;
    width: 100%;
    max-width: 1000px;
    background: #fff;
}

.row {
    width: 100%;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-between;
            justify-content: space-between;
}

.col-1 {
    width: 8.3333%;
}

.col-2 {
    width: 16.6666%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.3333%;
}

.col-5 {
    width: 41.6666%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.3333%;
}

.col-8 {
    width: 66.6666%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 82.3333%;
}

.col-11 {
    width: 91.6666%;
}

.col-12 {
    width: 100%;
}



/*
 *
 * HEADER
 *
 */

header {
    border-bottom: 4px solid #406d94;
    margin: 20px 0;
}

.header-logo {
    width: 120px;
}

.title-super {
    font-weight: 100;
    font-size: 3.8em;
    margin: 0;
}

.title-sub {
    font-weight: 400;
    font-size: 1.2em;
    margin: 0 0 20px 0;
}

/*
 *
 * ARTICLES
 *
 *
 */

.article-main {
    padding-right: 10px;
}

p {
    text-align: justify;
}

.ingress {
    font-family: "Merriweather", serif;
    margin-top: 0;
}

.article-side {
    color: #91a3b3;
    font-size: 0.9em;
    padding-left: 10px;
    border-left: 1px solid black;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-align-content: space-between;
            align-content: space-between;
}

.meta {
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.author {
    width: calc(100% - 50px);
    padding-left: 5px;
    margin-top: -2px;
}

.author > * {
    width: 100%;
}

.author-name {
    font-family: "Merriweather", serif;
}

.author-mail, .author-phone {
    font-size: 0.8em;
}

.author .fa {
    margin-right: 5px;
}

.published {
    font-size: 0.8em;
}

.social {
    font-size: 1.6em;
}

.social .fa {
    cursor: pointer;
    color: #91a3b3;
}

.social .fa-facebook:hover {
    color: #3b5998;
}

.social .fa-twitter:hover {
    color: #1da1f2;
}

.social .fa-google-plus:hover {
    color: #dd4f43;
}

.social .fa-pinterest:hover {
    color: #cb2027;
}

.tags {
    margin: 0;
    font-family: "Merriweather", serif;
    font-size: 0.8em;
    font-style: italic;
    text-align: left;
}

.tags a {
    color: #91a3b3;
}



/*
 *
 * FEATURED WORK
 *
 */

.featured-title {
    font-size: 2.5em;
    font-weight: 400;
    color: #7d97ad;
    margin-left: 10px;
    margin-bottom: 10px;
}

.featured-work {
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.project {
    margin-bottom: 20px;
    margin-right: 20px;
}

@media screen and (min-width: 750px) {
    .project:nth-child(3n) {
        margin-right: 0;
    }
}

.project-img {
    max-width: 100%;
}

.project-title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2em;
    margin: 10px 0;
}

.project {
    width: calc((100% - 40px) / 3);
}



/*
 *
 * FOOTER
 *
 */

footer {
    border-top: 1px solid #7f97ad;
    font-size: 0.8em;
    color: #7d97ad;
}



/*
 *
 * BREAKPOINTS
 *
 */

/* Less than 700px */
@media screen and (max-width: 749px) {
    
    /* HEADER */

    .title-super {
        font-size: 3em;
    }

    .title-sub {
        font-size: 1em;
        margin-bottom: 15px;
    }

    /* ARTICLES */
    
    .article-main {
        width: 100%;
        padding-right: 0;
    }

    .article-side {
        width: 100%;
        padding: 10px 0 0 0;
        border-left: 0;
        border-top: 1px solid black;
    }

    .meta {
        width: 50%;
        font-size: 0.9em;
    }

    .topics {
        width: 50%;
        font-size: 0.9em;
    }

    .topics h6 {
        margin-top: 0;
    }

    /* FEATURED */

    .project {
        width: calc((100% - 20px) / 2);
    }

    .project:nth-child(2n) {
        margin-right: 0;
    }
}


/* Less than 450px */
@media screen and (max-width: 449px) {
    
    /* HEADER */
    
    .title-super {
        font-size: 2.3em;
    }

    .title-sub {
        font-size: 0.8em;
        margin-bottom: 10px;
    }

    /* ARTICLES */
    
    .meta {
        width: 60%;
    }

    .topics {
        width: 40%;
    }

    .topics h6 {
        margin-top: -5px;
    }
    
    .social {
        font-size: 1.2em;
    }

    .social .fa {
        padding: 5px;
    }

    /* FEATURED */
    
    .featured-title {
        font-size: 2.1em;
    }
    
    .project {
        width: 100%;
        margin-right: 0;
    }
}

/* Minor */
@media screen and (max-width: 800px) {

    .meta {
        font-size: 0.95em;
    }

    .meta img {
        width: 40px;
        height: 40px;
    } 
}